@charset "UTF-8";


body
{
	background-color : #ffb7008a!important;
}

header
{
background-color : black; 
}

.card-link:hover
{
	color:#c0c0c0!important;
	text-decoration: none !veryimportant;
}
footer
{
	background-color : black!important; 
}
